.info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.info img {
  width: 317px;
  height: 317px;
}

.info h1 {
  margin: 20px 0 0;
  color: white;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.info h3 {
  margin: 5px 0 0;
  color: #F3BF99;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
}

.info p {
  margin: 10px 0 0;
  color: #F5F5F5;
  font-weight: 400;
  font-size: 10.24px;
}

.info--buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 10px 0;
}


.info--button_email, .info--button_linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  width: 115px;
  height: 34px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;

}
 
.info--button_email {
  border: 1px solid #D1D5DB;
  background-color: white;
  color: #374151;
}

.info--button_linkedin {
  border: 1px solid #5093E2;
  background-color: #5093E2;
  color: white;
}
