body {
  font-family: 'Inter', sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  width: 550px;
  background-color: #23252C;
}

main {
  width: 317px;
  margin: 50px 0;
  border-radius: 10px 10px 10px 10px;
}
